<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MemberMapper">
	<insert id="join" parameterType="mvo">
		insert into member (email, pwd) values (#{email}, #{pwd})
	</insert>
	<select id="login" parameterType="mvo" resultType="mvo">
		select * from member where email = #{email} and pwd = #{pwd}
	</select>
	
	<select id="e_chk" parameterType="String" resultType="int">
		select count(email) from member where email = #{email}
	</select>
	<select id="t_chk" parameterType="String" resultType="int">
		select count(email) from member where email = #{tester}
	</select>
	<insert id="t_join">
		insert into member (email, pwd) values (#{tester}, #{pwd})	
	</insert>

	<select id="deposit" parameterType="String" resultType="String">
		select deposit_usd from member where email = #{email}	
	</select>
	<select id="h_list" parameterType="String" resultType="avo">
		select * from account where email = #{email}
	</select>
		
	<!-- 관심 종목의 symbol 조회 -->
	<select id="w_list" parameterType="String" resultType="wvo">
		select symbol from watch where email = #{email}
	</select>
	<!-- 관심종목에 포함되어 있는 stock List 출력; symbol만 담긴 wvo 리스트로 select한 구문 -->
	<select id="s_list" parameterType="wvo" resultType="svo">
		select * from stock where symbol in
		<foreach collection="list" item="wvo" open="(" separator="," close=")">#{wvo.symbol}</foreach>
	</select>
	<!-- 관심 종목 보유 여부 -->
	<select id="hasWatchList" parameterType="String" resultType="int">
		select count(email) from watch where email = #{email}
	</select>
	<!-- 보유 종목 보유 여부 -->
	<select id="hasHoldList" parameterType="String" resultType="int">
		select count(email) from account where email = #{email}
	</select>
	
	<!-- WatchVO List 리턴 to stock/list; 사용안함 -->
	<select id="getWatchList" parameterType="String" resultType="wvo">
		select symbol from watch where email =#{email}
	</select>
	<!-- // detail 관심 종목 아이콘 처리용 -->
	<select id="inYourWatchList" parameterType="HashMap" resultType="int">
		select count(symbol) from watch where email = #{email} and symbol = #{symbol};
	</select>
	
	
	<delete id="delTester">
		delete from member where email like 'tester%'
	</delete>
</mapper>